<aside class="sideNav u-absolute0 u-hide-after-lg">
    <div class="sideNav-wrap u-absolute0">
        {{!-- Menu --}}
        {{#if @site.navigation}}
        <nav class="sideNav-item sideNav-menu u-fontSizeBase">
            {{navigation}}
        </nav>
        {{/if}}

        {{!--follow box --}}
        <div class="sideNav-item sideNav-follow u-flex u-flexContentAround js-social-media">
            {{#if @site.twitter}}<a title="Twitter {{@site.twitter}}" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
        </div>
    </div>
</aside>